body {
  margin: 0;
  /* font-family: "Montserrat", sans-serif; */
}

.container-main {
  margin: 0px;
}
/* .p-1 {
  position: relative; 
   background-color: beige;
} */

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 7px;
  /* width: 1240px; */
  /* height: 20vh; */
  max-width: 100vw;
}
.logo-p {
  padding-right: 5px;
}
.logo-name {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0px;
  height: inherit;
  font-family: 'Montserrat', sans-serif;
  flex: 25%;
}
.img-p {
  width: 55px;
  height: 60px;
}
.name-l {
  border-left: 2px solid black;
}
.h-title,
.p-desc {
  margin: 5px;
  padding-left: 5px;
  font-family: 'Montserrat', sans-serif;
}

.list-items {
  display: flex;
  flex: 50%;
  height: inherit;
}
.ul-items {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 40%;
  font-size: 15px;
  font-family: 'Nunito Sans', Sans-serif;
}

.home-link,
.membership-link,
.how-link,
.contact-link {
  text-decoration: none;
  color: rgba(66, 63, 63, 0.753);
  transition: 0.2s ease;
}

.home-link:hover,
.membership-link:hover,
.how-link:hover,
.contact-link:hover {
  color: black;
}

/* media queries */
.hamburger {
  display: none;
}
.menu-icon {
  width: 25px;
}

.login-signin {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 25%;
  font-size: 15px;
  font-family: 'Nunito Sans', Sans-serif;
}

.log-in {
  color: black;
  transition: 0.1s ease;
  cursor: pointer;
}
.log-in:hover {
  color: rgba(194, 16, 16, 255);
}
/* login-page hide */
.login-page {
  width: 300px;
  border: 1px solid transparent;
  padding: 20px;
  font-family: 'Nunito Sans', Sans-serif;
  box-shadow: 1px 1px 10px rgba(82, 81, 81, 0.458);
  position: absolute;
  left: 500px;
  top: 90px;
  z-index: 99;
  background: white;
}
.click {
  display: none;
}
.img-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-desc > img {
  width: 40px;
}
.img-desc > p {
  font-weight: 500;
  font-size: 18px;
}
.mobile-desc,
.password-desc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.mobile-desc > input,
.password-desc > input {
  padding: 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid black;
}
.stay-login-forget-password {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stay-login {
  display: flex;
  align-items: center;
  gap: 5px;
}
.forget-password > a:hover {
  color: rgba(16, 16, 87, 0.696);
}
.login-button {
  display: flex;
  justify-content: center;
}
.login-click {
  background-color: rgba(194, 16, 16, 255);
  border: 1px solid rgba(194, 16, 16, 255);
  color: white;
  padding: 20px 50px;
  border-radius: 50px;
}
.login-click:hover {
  background-color: rgb(150, 50, 50);
}

.or {
  text-align: center;
  width: 163px;
  margin: 0 auto;
  padding: 3px 0;
  color: grey;
  font-size: 14px;
}
.sigup-for-free {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.sign-up-free {
  padding: 10px 30px;
  background-color: rgba(194, 16, 16, 255);
  color: white;
  border-radius: 50px;
  border: 1px solid rgba(194, 16, 16, 255);
}
.sign-up-free:hover {
  background-color: rgb(150, 50, 50);
}
/* end login css */
/*  */
/* signin button */
.sign-in {
  border: 1px solid rgba(194, 16, 16, 255);
  color: rgba(194, 16, 16, 255);
  border-radius: 20px;
  padding: 10px 20px;
  transition: 0.3s ease;
  cursor: pointer;
}

.sign-in:hover {
  background-color: rgba(194, 16, 16, 255);
  color: white;
  padding: 10px 20px;
}
/*  */

/* sign page hide*/

.signup-page {
  display: flex;
  flex-direction: column;
  width: 400px;
  font-family: 'Nunito Sans', Sans-serif;
  padding: 10px;
  box-shadow: 1px 1px 10px rgba(82, 81, 81, 0.458);
  position: absolute;
  left: 450px;
  top: 90px;
  z-index: 99;
  background: white;
}
.sclick {
  display: none;
}
.logo-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo-p {
  width: 50px;
}
.logo-desc > p {
  margin: 8px;
}
.first-last,
.password-confirm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 0px 10px;
  margin-top: 7px;
}
.first-name,
.password {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 0px;
  gap: 8px;
}
.first-name > input,
.password > input {
  padding: 8px;
  outline: none;
}
.last-name,
.confirm {
  display: flex;
  flex-direction: column;
  padding: 8px 0px;
  gap: 8px;
}
.last-name > input,
.confirm > input {
  padding: 8px;
  outline: none;
}

.gender-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 0px 10px;
}
.gender-input-signup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 0px;
  gap: 8px;
  background-color: white;
}
.gender-input-signup > select {
  padding: 8px;
  background-color: white;
  outline: none;
  border: 1px solid rgba(66, 66, 66, 0.485);
  border-radius: 5px;
}
.mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 0px;
  gap: 8px;
}
.mobile > input {
  padding: 8px;
  outline: none;
}
.mail-id {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  gap: 8px;
  margin-top: 7px;
}
.mail-id > input {
  padding: 8px;
  outline: none;
}
.terms-conditions > p {
  margin: 7px 0px;
  color: grey;
  font-size: 10px;
  text-align: center;
  font-weight: 600;
}
.signup-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px 0px;
}
.signup-button > button {
  background-color: rgba(194, 16, 16, 255);
  border-radius: 50px;
  border: 1px solid rgba(194, 16, 16, 255);
  padding: 10px 30px;
  color: white;
}
.move-login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0px;
}
.move-login > a {
  color: rgba(46, 46, 205, 0.751);
  text-decoration: none;
}
.move-login > a:hover {
  color: rgba(40, 40, 214, 0.751);
  text-decoration: underline;
}
/* end sign up page css -hide */
/*  */

/* p1 page */
.p1-container {
  margin-top: 12px;
  padding: 12px;
  /* width: 1220px; */
  max-width: 100vw;
  display: flex;
  gap: 10px;
}

/* left-c */
.left-c {
  display: flex;
  flex-direction: column;
  flex: 50%;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
}
.partner-title {
  font-size: 70px;
  font-family: 'Syne', Sans-serif;
  color: black;
  line-height: 1.2em;
  font-weight: 900;
  text-transform: capitalize;
  margin: 12px;
}
.partner-desc {
  font-family: 'Nunito Sans', Sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.8em;
  color: #595d68;
  text-align: justify;
  margin-top: 12px;
}
.join-now {
  border: 1px solid rgba(194, 16, 16, 255);
  background-color: rgba(194, 16, 16, 255);
  border-radius: 50px;
  padding: 20px 40px;
  color: white;
  transition: 0.2s ease;
  margin-top: 12px;
}
.join-p-link {
  text-decoration: none;
  color: white;
  font-family: 'Nunito Sans', Sans-serif;
}

/* right-c */
.right-c {
  display: flex;
  position: relative;
  flex: 40%;
  padding: 10px;
}
.partner-pic {
  width: 415px;
  height: 497px;
  position: relative;
  border-radius: 70%;
  background-color: rgba(194, 16, 16, 255);
  left: 80px;
}
.img-partner {
  width: 400px;
  height: 490px;
  position: absolute;
  border-radius: 60%;
}
.top-sticker {
  position: absolute;
  width: 90px;
  height: 105px;
  background-color: rgb(40, 39, 39);
  border-radius: 70%;
  left: 91px;
  top: 25px;
}
.t-sticker {
  width: 80px;
  height: 100px;
  border-radius: 50%;
}
.bottom-box {
  position: absolute;
  background: black;
  border-radius: 30px;
  bottom: 100px;
  left: 50px;
  padding: 10px;
  width: 97px;
  height: 23px;
  box-shadow: 1px 1px 10px rgba(32, 31, 31, 0.451);
}
.no-of-partners {
  color: black;
  background-color: white;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 20px;
  padding: 10px;
}
.bottom-sticker {
  position: absolute;
  border-radius: 62px;
  bottom: 122px;
  left: 135px;
  transform: rotate(19deg);
}
.b-sticker {
  height: 40px;
  width: 40px;
  /* border-radius: 50px; */
}

/* p2  contatiner */
.p2-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 1220px; */
  padding: 70px 10px;
  /* height: 100vh; */
  position: relative;
}
.groom {
  width: 250px;
  height: 350px;
  border-radius: 113px 113px 0px 0px;
  position: relative;
  box-shadow: 1px 1px 10px rgba(32, 31, 31, 0.451);
}
.img-groom {
  width: 250px;
  height: 350px;
  border-radius: 113px 113px 0px 0px;
  position: absolute;
}
.review {
  background-color: rgb(255, 255, 255);
  color: black;
  font-family: 'Nunito Sans', Sans-serif;
  font-weight: 100;
  padding: 10px 0px 10px 30px;
  border-radius: 50px;
  position: absolute;
  left: 190px;
  top: 165px;
  width: 25%;
  box-shadow: 1px 1px 10px rgba(32, 31, 31, 0.451);
}
.r-desc {
  width: 80%;
}
.play-button {
  border-radius: 50%;
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 1px 1px 10px rgba(32, 31, 31, 0.451);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 65px;
  right: 40%;
  cursor: pointer;
}
.play-img {
  width: 35px;
  height: 30px;
}

/* p3 container */
.p3-container {
  /* width: 1220px; */
  /* max-width: 100vw; */
  margin: 20px;
  padding: 80px 0px 80px 0px;
  /* height: 100vh;  */
}
.meet-your-partner {
  color: #1a1a1a;
  font-family: 'Syne', Sans-serif;
  font-size: 56px;
  font-weight: 800;
  text-transform: capitalize;
  line-height: 1.2em;
  display: flex;
  justify-content: center;
  margin: 20px;
}
.meet-your-partner > h1 {
  margin: 0px;
}

.find-partner-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding: 50px;
}
/* search */
.search-bar {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  align-items: center;
  border: 1px solid transparent;
  background-color: #f6f6f9;
  border-radius: 20px 0px 0px 20px;
  border-right: 1px solid rgba(61, 61, 61, 0.505);
  cursor: pointer;
}
.search-span > img {
  width: 25px;
}
.search-input {
  border: none;
  outline: none;
  background-color: #f6f6f9;
}

/* hide arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.drop-down-icon {
  width: 25px;
}

/* age */
.age {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  align-items: center;
  border: 1px solid transparent;
  background-color: #f6f6f9;
  border-right: 1px solid rgba(61, 61, 61, 0.505);
  cursor: pointer;
}
.age-span > img {
  width: 25px;
}
.age-input {
  border: none;
  outline: none;
  background-color: #f6f6f9;
}

/* gender */
.gender {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  border-radius: 0px 20px 20px 0px;
  background-color: #f6f6f9;
  border: 1px solid transparent;
  cursor: pointer;
}
.gender-icon-span > img {
  width: 25px;
}
.gender-input {
  border: none;
  outline: none;
  background-color: #f6f6f9;
  padding: 0px 10px;
}

/* search button */
.partner-search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  margin-left: 20px;
  border: 1px solid rgba(194, 16, 16, 255);
  border-radius: 50px;
  background-color: rgba(194, 16, 16, 255);
  cursor: pointer;
}
.search-partner-button {
  background-color: rgba(194, 16, 16, 255);
  color: white;
  border: none;
  font-size: 16px;
  font-family: 'Nunito Sans', Sans-serif;
}

/* json cards */
.sample-partner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px 0px;
  font-family: 'Nunito Sans', Sans-serif;
}

.partner-profile {
  display: flex;
  gap: 10px;
  align-items: center;
  border: 1px solid transparent;
  gap: 20px;
  padding: 10px;
  box-shadow: 1px 1px 10px #31313154;
  background-color: #f6f6f9;
  border-radius: 5px;
}
.partner-profile:hover {
  box-shadow: 1px 1px 20px #5857576c;
  background: white;
}
.profile-pic {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
}
.profile-name {
  padding: 0px 10px;
}
.profile-name,
.profile-location {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
.name-p,
.location-p {
  margin: 7px 0px auto;
}

/* steps */
.step-to-follow {
  padding: 10px 5px;
  position: relative;
}
.steps-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 70%;
  position: relative;
  left: 180px;
  font-family: Arial, Helvetica, sans-serif;
}
.block1,
.block2,
.block3 {
  display: flex;
}
.block2 {
  position: relative;
}
.step1-signup {
  position: absolute;
  top: -250px;
}
.block3 {
  position: relative;
}
.step3-matching {
  position: absolute;
  top: -50px;
  /* bottom: 0px; */
}
.empty-div {
  flex: 25%;
}
.steps-desc {
  flex: 25%;
  font-size: 70px;
  font-family: Arial, Helvetica, sans-serif;
  color: #1a1a1a;
  font-family: 'Syne', Sans-serif;
  font-size: 56px;
  font-weight: 800;
  text-transform: capitalize;
  line-height: 1.2em;
}
.step1-div,
.step2-div,
.step3-div {
  width: 300px;
  height: 300px;
  margin: 12px;
  flex: 25%;
}
.step1-signup,
.step2-choose,
.step3-matching {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin: 12px;
  border: 1px solid transparent;
  border-radius: 50px;
  padding: 50px 30px 50px 30px;
  transition: 0.3s ease;
}
.step1-signup {
  background-image: linear-gradient(180deg, #ffffff 0%, #f7f4ff 100%);
}
.step2-choose {
  background-image: linear-gradient(180deg, #ffffff 0%, #ffedf3 100%);
}
.step3-matching {
  background-image: linear-gradient(180deg, #ffffff 0%, #f2f7ff 100%);
}
.step1-signup:hover {
  border: 1px solid #bca1f538;
}
.step2-choose:hover {
  border: 1px solid #f8a3c1;
}
.step3-matching:hover {
  border: 1px solid #a2c3f5;
}
.step1-title > h2,
.step2-title > h2,
.step3-title > h2 {
  border-radius: 50px;
  width: 100px;
  height: 100px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.step2-title > h2 {
  font-size: 18px;
  text-align: center;
}
.sign-up-desc > p,
.step2-desc > p,
.step3-desc > p {
  margin: 0px 25px;
}
.step3-title > h2 {
  font-size: 18px;
  text-align: center;
}
.desc-help {
  margin: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 25%;
  position: relative;
}
.whatsapp-learnmore {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.w-l-div {
  flex: 25%;
}
.whats-app {
  padding: 10px 20px;
  border-radius: 50px;
  background-color: rgba(194, 16, 16, 255);
  color: white;
  border: 1px solid rgba(194, 16, 16, 255);
  font-size: 15px;
}
.learnmore {
  border: none;
  color: black;
  background-color: white;
  font-size: 15px;
}
.learnmore:hover {
  color: rgba(194, 16, 16, 255);
}
/*  */

/* footer */
.footer-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px 30px 50px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 1px 0px 10px rgba(44, 43, 43, 0.458);
  margin-top: 12px;
}
.matrimony-call-mail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.matrimony-name > h1 {
  margin: 7px 0px;
}
.call-mail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.p-call > a,
.mail-p > a {
  color: black;
  text-decoration: none;
}
.p-call > p,
.mail-p > p {
  margin: 7px 0px;
  color: grey;
  font-size: 18px;
}
.p-call > a:hover,
.mail-p > a:hover {
  color: rgba(194, 16, 16, 255);
  text-decoration: underline;
}
.social-media-icons a {
  text-decoration: none;
}
